<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>S-Money</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../assets/css/style.css" rel="stylesheet">
</head>

<body>
    <section class="container-fluid">
        <div class="content-aside wrapper">
            <div class="content-left">
                <div class="title-image-position border-h2">
                    <img src="../../assets/img/warning-icon.svg">
                    <div>
                        <h2 class="erreur-h2">Après analyse de vos pièces, notre équipe a détecté une anomalie !</h2>
                    </div>
                </div>
            
                <div class="item-border">
                    <div class="sous-item">
                        <h3 class="grey-light">Raison sociale</h3>
                        <p class="grey-medium">Handisky</p>
                    </div>
                    <div class="sous-item">
                        <h3 class="grey-light">Nom et prénom du représentant légal</h3>
                        <p class="grey-medium">Doe David</p>
                    </div>
                    <div class="sous-item">
                        <h3 class="grey-light">Email de contact</h3>
                        <p class="grey-medium">loisirs@handiski.fr</p>
                    </div>
                </div>

                <div class="item">
                    <h3 class="grey-light">Justificatif d'identité du représentant légal</h3>
                    <div class="document-televerse">
                        <img src="../../assets/img/filejpg-icon.svg">
                        <p class="doc-name grey-medium">ID_david-doe.pdf</p>
                        <p class="doc-size grey-light">120ko</p>
                    </div>
                </div>
                <div>
                    <a class="button-inline position-content">Modifier</a>
                </div>

            </div>
          
            <div class="content-right">
                <img src="../../assets/img/contact-icon.svg">
                <p>Cliquez sur " Modifier " pour mettre à jour vos informations et soumettre de nouveau vos pièces à notre service.</p>
                <p class="content-right-plus error-message-style">Votre pièce d'identité est expirée. Veuillez envoyer une nouvelle pièce datant de moins de 3 mois.</p>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content-footer">
                        <div class="content-footer-1">
                            <a href="http://www.s-money.fr/" target="_blank">
                                <img src="../../assets/img/footer/logo-s-money.png"class="logo-s-money" alt="S-Money">
                            </a>
                            <p>filiale de</p>
                            <a href="https://www.natixis.com/natixis/jcms" target="_blank">
                                <img src="../../assets/img/footer/logo-natixis.png" class="logo-natixis" alt="Natixis">
                            </a>
                        </div>
                        <div class="content-footer-2">
                            <a href="#" class="link-footer link-footer-mobile" title="Mentions Légales">Mentions Légales</a>
                            <a href="#" class="link-footer deconnexion" title="Déconnexion">Déconnexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../../assets/js/index.js"></script>
</body>

</html>