<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>S-Money</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../assets/css/style.css" rel="stylesheet">
</head>

<body>
    <section class="content-aside wrapper">
        <div class="content-left">
            <div>
                <h2>Pour commencer, je vérifie mon contact !</h2>
                <div class="item-border">
                    <div class="sous-item">
                        <h3>Raison sociale</h3>
                        <p>Handisky</p>
                    </div>
                    <div class="sous-item">
                        <div class="titre-tooltip">
                            <h3>Nom et prénom du représentant légal</h3>
                            <a href="" title="Ce nom est relié à votre compte ESF+. Il n’est pas correct ? Rendez-vous sur votre compte ESF+ pour le modifier !" class="tooltip">
                                <span title="">
                                    <img src="../../assets/img/Info-Icon.svg">
                                </span>
                            </a>
                        </div>
                        <p>Doe David</p>
                    </div>
                </div>
                <div class="item">
                    <label for="mail"><h3>Cet email est-il bien votre email de contact ?</h3></label>
                    <input id="mail" name="mail" type="text" placeholder="loisirs@handiski.fr">
                </div>
            </div>
            <div>
                <a class="button-default">Je confirme</a>
            </div>
        </div>
          
        <div class="content-right">
            <img src="../../assets/img/contact-icon.svg">
            <p>Cette adresse sera vérifiée et utilisée dans le cadre des échanges liés au service S-Money. Elle ne sera pas utilisée à des fins commerciales. Veillez à renseigner une adresse que vous consultez régulièrement.</p>
        </div>
    </section>
    
    <footer>
        <div class="content-wrapper container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content-footer">
                        <a href="http://www.s-money.fr/" target="_blank">
                            <img src="../../assets/img/footer/logo-s-money.png"class="logo-s-money" alt="">
                        </a>
                        <p>filiale de</p>
                        <a href="https://www.natixis.com/natixis/jcms" target="_blank">
                            <img src="../../assets/img/footer/logo-natixis.png" class="logo-natixis" alt="Natixis">
                        </a>
                        <a href="#" class="link-footer" title="Mentions Légales">Mentions Légales</a>
                        <a href="#" class="link-footer" title="Mentions Légales">Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="assets/js/index.js"></script>
</body>

</html>