<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>S-Money</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../assets/css/style.css" rel="stylesheet">
</head>

<body>
    <section class="container-fluid">
        <div class="content-aside wrapper">
            <div class="content-left">
            <div>
                <div class="border-h2">
                    <h2>Pour commencer, je vérifie mon contact !</h2>
                </div>
                <div class="item item-border">
                    <div class="sub-item">
                        <h3>Raison sociale</h3>
                        <p>Handisky</p>
                    </div>
                    <div class="sub-item">
                        <div class="titre-tooltip">
                            <h3>Nom et prénom du représentant légal</h3>
                            <div class="special-text">
                                <img src="../../assets/img/Info-Icon.svg">
                                <span class="special-text__tooltip">
                                    Ce nom est relié à votre compte ESF+. Il n’est pas correct ? Rendez-vous sur votre compte ESF+ pour le modifier !
                                </span>
                            </div>
                        </div>
                        <p>Doe David</p>
                    </div>
                </div>
            </div>
                
                <form class="form-position">
                    <div class="item">
                        <label for="mail"><h3>Cet email est-il bien votre email de contact ?</h3></label>
                        <input id="mail" name="mail" type="text" placeholder="loisirs@handiski.fr">
                    </div>
                    <div>
                        <button class="button-default">
                            Je confirme
                        </button>
                    </div>
                    
                </form>
            
            </div>
          
            <div class="content-right">
                <img src="../../assets/img/contact-icon.svg">
                <p>Cette adresse sera vérifiée et utilisée dans le cadre des échanges liés au service S-Money. Elle ne sera pas utilisée à des fins commerciales. Veillez à renseigner une adresse que vous consultez régulièrement.</p>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content-footer">
                        <div class="content-footer-1">
                            <a href="http://www.s-money.fr/" target="_blank">
                                <img src="../../assets/img/footer/logo-s-money.png"class="logo-s-money" alt="S-Money">
                            </a>
                            <p>filiale de</p>
                            <a href="https://www.natixis.com/natixis/jcms" target="_blank">
                                <img src="../../assets/img/footer/logo-natixis.png" class="logo-natixis" alt="Natixis">
                            </a>
                        </div>
                        <div class="content-footer-2">
                            <a href="#" class="link-footer link-footer-mobile" title="Mentions Légales">Mentions Légales</a>
                            <a href="#" class="link-footer log-out" title="Déconnexion">Déconnexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../../assets/js/index.js"></script>
</body>

</html>