<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>S-Money</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../assets/css/style.css" rel="stylesheet">
</head>

<body>
    <section class="content-aside wrapper">
        <div class="content-left">
            <div class="border-h2">
                <h2>Pour commencer, je vérifie mon contact !</h2>
            </div>
            <form class="form-position">
                <div class="item">
                    <div class="titre-tooltip">
                        <h3>Code de vérification</h3>
                        <div class="special-text">
                            <img src="../../assets/img/Info-Icon.svg">
                            <span class="special-text__tooltip">
                                Veillez à bien garder cette fenêtre ouverte pendant que vous recherchez votre code.
                            </span>
                        </div>
                    </div>
                    <input type="tel" pattern="[0-9]{1}" maxlength="1">
                    <input type="tel" pattern="[0-9]{1}" maxlength="1">
                    <input type="tel" pattern="[0-9]{1}" maxlength="1">
                    <input type="tel" pattern="[0-9]{1}" maxlength="1">
                    <input type="tel" pattern="[0-9]{1}" maxlength="1">
                    <input type="tel" pattern="[0-9]{1}" maxlength="1">
                </div>
                
                <div>
                    <button type="submit" class="button-default">
                        Je confirme
                    </button>
                </div>
            </form>
                
        </div>
          
        <div class="content-right">
            <img src="../../assets/img/code-icon.svg">
            <p>Pour nous aider à confirmer l’identité du représentant légal, veillez à nous faire parvenir des pièces d’identités recto/verso lisibles, non tronquées et non surchargées.</p>
            <p class="content-right-plus">Renvoyer le code ? <a href="">Cliquez ici</a></p>
        </div>
    </section>
    
    <footer>
        <div class="content-wrapper container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content-footer">
                        <a href="http://www.s-money.fr/" target="_blank">
                            <img src="../../assets/img/footer/logo-s-money.png"class="logo-s-money" alt="">
                        </a>
                        <p>filiale de</p>
                        <a href="https://www.natixis.com/natixis/jcms" target="_blank">
                            <img src="../../assets/img/footer/logo-natixis.png" class="logo-natixis" alt="Natixis">
                        </a>
                        <a href="#" class="link-footer" title="Mentions Légales">Mentions Légales</a>
                        <a href="#" class="link-footer deconnexion" title="Déconnexion">Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="assets/js/index.js"></script>
</body>

</html>