// Headings

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family;
	letter-spacing: 1px;
}


h1 {
	font-size: $heading-1-font-size;
	line-height: $line-height-30;
	font-weight: $font-700;
}

h2 {
	font-size: $heading-2-font-size;
	line-height: $line-height-25;
	font-weight: $font-700;
}

h3 {
    font-size: $heading-3-font-size;
	line-height: $line-height-20;
	font-weight: $font-600;
    text-transform: uppercase;
    display: inline-block;
}