// Base

@import "base/variables";
@import "base/reset";

// Components

@import "components/form";
@import "components/grid";
@import "components/layout";
@import "components/modals";
@import "components/navigation";
@import "components/sections";
@import "components/sidebar";
@import "components/tooltip";
@import "components/typography";
@import "components/footer";
@import "components/headings";
@import "components/buttons";
@import "components/flex";
@import "components/css-arrow-mixin";
@import "components/header";
@import "components/select";

html, body {
	width: 100%;
	-webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body * {
    box-sizing: border-box;
}

body {
	width: 100%;
    min-height: 100vh;
	position: relative;
	color: $primary-color;
    padding-top: 110px;
    padding-bottom: 153px;
    background: rgba(255,255,255,1) no-repeat;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(245,244,245,1) 100%) no-repeat;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(67%, rgba(255,255,255,1)), color-stop(100%, rgba(245,244,245,1))) no-repeat;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(245,244,245,1) 100%) no-repeat;
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(245,244,245,1) 100%) no-repeat;
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(245,244,245,1) 100%) no-repeat;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(245,244,245,1) 100%) no-repeat;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f4f5', GradientType=0 );
    font-family: $font-family;
    
    &.body-header{
        padding-top: inherit;
    }
    
    @media(max-width:$breakpoint-mobile){
        padding-top: 60px;
        padding-bottom: 127px;
    }
    
    a{
        color: $secondary-color;
    }

	.content {
		position: relative;
		max-width: 780px;
        min-height: 420px;
		background: $white;
		border: $border-content;
		box-shadow: $box-shadow-content;
		padding: 50px;
		border-radius: $border-radius-content;
        
        @media(max-width:$breakpoint-mobile){
            padding: 40px 25px;
        }

		.home-wrapper {
			h2 {
				margin-top: 10px;
			}

			img.welcomeIllustration {
				margin: 50px 0 30px 0;
                
                @media(max-width:$breakpoint-mobile){
                    margin: 20px 0 20px 0;
                }
			}

			p {
				max-width: 60%;
   		 		margin: 0 auto;
				color: $secondary-color;
				font-weight: $font-600;
                
                @media(max-width:$breakpoint-mobile){
                    max-width: 100%;
                }
			}
		}
	}
    
    .content-aside {
        display: flex;
        position: relative;
		max-width: 780px;
        min-height: 420px;
		background: $white;
		border: $border-content;
		box-shadow: $box-shadow-content;
		border-radius: $border-radius-content;
        
        @media(max-width:$breakpoint-mobile){
            flex-flow: column wrap;
        }
        
        .content-left{
            flex: 28;
            padding: 0px 40px 40px 40px;
            display: flex;
            flex-flow: column wrap;
            
            &.padding-top-content{
                padding: 40px;
            }
            
            @media(max-width:$breakpoint-mobile){
                padding: 40px 25px;
            }
            
            .title-image-position{
                display: flex;
                align-items: flex-start;
                
                img{
                    margin-right: 20px;
                    margin-top: 5px;
                }
            }
            
            h2.validation-h2 {
                color: $green;
            }
            
            h2.erreur-h2 {
                color: $orange;
            }
            
            .border-h2 {
                padding: 20px 0px;
                border-bottom: $border-content-titre;  
            }
            
            .subtitle-h2 {
                font-size: 11px;
                line-height: 14px;
                color: $primary-color;
            }
            
            p{
                font-size: $content-left-font-size;
                color: $secondary-color;
                line-height: $line-height-12;
            }
            
            p.texte12-20 {
                line-height: $line-height-20;
                font-weight: $font-600;
            }
            
            p.texte12-20-italic {
                line-height: $line-height-20;
                font-weight: $font-300;
                font-style: italic;
            }
            
            p.texte-explicatif{
                line-height: $line-height-12;
                font-size: 9px;
                font-style: italic;
                margin: 10px 0px;
            }
            
            p.error-message {
                display:none;

                &.error-message-style{
                    margin: 5px 0px;
                    color: $orange;
                    font-size: 11px;
                    font-weight: 500;
                    line-height: $line-height-12;
                }
            }

            #error-message.error-message-visible{
                display: block;
            }
            
            .item-border {
                padding: 20px 0px;
                border-bottom: $border-content-texte; 
            }
            
            .item {
                padding: 20px 0px;
            }
            
            .sous-item {
                margin-bottom: 15px;
                
                p.grey-medium{
                    color: $grey-medium;
                }
            }
            
            .sous-item:last-child {
                margin-bottom: inherit;
            }
            
            .document-televerse {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                
                .doc-name{
                    padding: 0 10px;
                    
                    &.grey-medium{
                        color: $grey-medium;
                    }
                }
                
                .doc-size {
                    position: relative;
                    font-size: 10px;
                    font-weight: $font-500;
                    padding-left: 11px;
                    line-height: $line-height-14;
                    
                    &.grey-light {
                        color: $grey-light;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 13px;
                        background-color: $grey-light;
                    }
                }
            }
            
            h3.grey-light{
                color: $grey-light;
            }
        }
        
        .content-right {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            flex: 10;
            background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(146,79,255,1) 250%) no-repeat;
            border-left: $border-content;
            padding: 40px 35px;
            position: relative;
            
            @media(max-width:$breakpoint-mobile){
                order: -1;
                padding: 40px 25px;
                border-left: none;
                border-bottom: $border-content;
                background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(146,79,255,1) 250%) no-repeat;
                justify-content: flex-start;
            }
            
            p {
                font-size: $content-right-font-size;
                color: $secondary-color;
                font-style: italic;
                font-weight: $font-600;
                text-align: center;
                line-height: $line-height-14;
            }
            
            img {
                margin-bottom: 12px;
            }
            
            .content-right-plus {
                font-size: 11px;
                position: absolute;
                bottom: 40px;
                font-style: normal;
                width: 100%;
                padding: 0 10px;
                left: 0;
                
                @media(max-width:$breakpoint-mobile){
                    position:static;
                    margin-top: 40px;
                }
                
                &.error-message-style {
                    color: $orange;
                    font-size: 11px;
                    font-weight: 500;
                    line-height: $line-height-12;
                }
            }
        }
    }


	footer {
		display: flex;
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
		background-color: $white;
	}

    .cookie-bloc {
        input[id="close-cookie"],
        input[id="accept-cookie"] {
            display: none;
        }
                
        #close-cookie:checked ~ .cookie-container,
        #accept-cookie:checked ~ .cookie-container{
            display:none;
        }

    	.cookie-container {
    		width: 100%;
    		position: fixed;
    	    left: 0;
    	    bottom: 0;
    	    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(144,71,251,1) 1000%) no-repeat;
    	    border-top: 1px solid rgba(145,160,171,0.35);
    	    padding-top: 20px;
    	    padding-bottom: 20px;
            box-shadow: 1px 0px 7px 0px rgba(145,160,171,0.2);
            
            @media ( max-width: $breakpoint-mobile){
                padding-top: 30px;
            }

    	    .cookie-wrapper {
    	    	display: flex;
    	    	align-items: center;
                max-width: 70%;
                
                @media (max-width: $breakpoint-mobile){
                    max-width: 100%;
                    flex-flow: column wrap;
                    justify-content: center;
                }

    	    	img {
    	    		margin-right: 20px;
    	    	}

    	    	p, a.link-cookie {
    	    		color: $secondary-color;
    	    		font-size: 11px;
    	    		font-weight: $font-600;
    	    		line-height: $line-height-14;
    	    	}
                
                label.button-inline {
                    margin-left: 20px;
                }
    	    	

    		    label.close-cookie {
    		    	position: absolute;
    		    	top: 10px;
    		    	right: 0px;
                    cursor: pointer;
    		    }
                
                .cookie-box{
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                }
    	    }
    	}
    }
}

