// Base

@import "base/variables";
@import "base/reset";

// Components

@import "components/form";
@import "components/grid";
@import "components/layout";
@import "components/modals";
@import "components/navigation";
@import "components/sections";
@import "components/sidebar";
@import "components/tooltip";
@import "components/typography";
@import "components/footer";
@import "components/headings";
@import "components/buttons";
@import "components/pop-up";
@import "components/flex";
@import "components/css-arrow-mixin";
@import "components/links";
@import "components/header";
@import "components/content";

html, body {
	width: 100%;
	-webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body * {
    box-sizing: border-box;
}

body {
	width: 100%;
    min-height: 100vh;
	position: relative;
	color: $primary-color;
    padding-top: 110px;
    padding-bottom: 153px;
    background: rgba(255,255,255,1) no-repeat;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(245,244,245,1) 100%) no-repeat;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(67%, rgba(255,255,255,1)), color-stop(100%, rgba(245,244,245,1))) no-repeat;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(245,244,245,1) 100%) no-repeat;
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(245,244,245,1) 100%) no-repeat;
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(245,244,245,1) 100%) no-repeat;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(245,244,245,1) 100%) no-repeat;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f4f5', GradientType=0 );
    font-family: $font-family;
    
    &.body-header {
        padding-top: inherit;
    }
    
    @media(max-width:$breakpoint-mobile) {
        padding-top: 60px;
        padding-bottom: 127px;
    }
}

