input{
    font-family: $font-family;
}

input:focus, label:focus {
    box-shadow: $box-shadow-form;
    outline: inherit;
}

input[type="text"] {
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border:1px solid $grey-light;
    padding-left: 10px;
    color: $secondary-color;
    
    &::placeholder{
        color: $secondary-color;
    }
}


.error-message {
    display:none;
    
    &.error-message-style{
        margin-top: 5px;
        color: $orange;
        font-size: 11px;
        font-weight: 500;
        line-height: $line-height-12;
    }
}

#error-message.error-message-visible{
    display: block;
}

.form-position {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    flex: auto;
}

#televerser{
    position: absolute;
    min-width: 462px;
    height: 85px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    left: 0;
    top: 0;
    
    @media(max-width:$breakpoint-mobile){
        display: block;
        min-width: 100%;
    }
    
    &:invalid{
        opacity: 1;
        background-color: red;
    }
    
    &:invalid ~ .error-message{
        display: block;
    }
}

label[for="televerser"]{
    cursor: pointer;
    position: relative;
    width: 100%;
    
    .televerser {
        width: 100%;
        height: 85px;
        border: 1px dashed $grey-light;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        
        p {
            margin: 5px;
        }
        
        .icon-televerser {
            color: $primary-color;
            font-size: 11px;
            margin: 5px;
            display:flex;
            align-items: center;
            
            img {
                margin-right: 5px;
            }
        }
    }
}

input[type="tel"] {
    width: 30px;
    height: 35px;
    border-radius: 2px;
    border: 1px solid $grey-light;
    background: $grey-white;
    margin-right: 8px;
    font-size: 18px;
    text-align: center;
}

.content-aside .content-left .tgl {
	display: none;
  
	// add default box-sizing for this scope
	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ label.tgl-btn {
		outline: 0;
		display: inline-block;
		width: 34px;
		height: 15px;
		position: relative;
		cursor: pointer;
        margin-bottom: 0px;
        margin-left: 10px;
        transform: translateY(3px);
        user-select: none;
        margin-right: 40px;

    		&:after {
                content: "";
    			position: absolute;
    			display: block;
    			width: 19px;
    			height: 19px;
                top: -2px;
                background: #fff;
                border: $border-color-tooltip;
                box-shadow: $box-shadow-form;
                background: #fff url("../../assets/img/check.svg") no-repeat 50%;
    		}

    		&:after {
    			left: 0;
    		}
        
    		&:before {
			position: absolute;
            top: 0;
            left: 45px;
            content: "Non";
            font-weight: 500;
            color: #5D5062;
            transform: translateY(-3px);
		}
    }
  
	&:checked + .tgl-btn:after {
		left: 50%;
        content: "";
        background: #fff url("../../assets/img/check.svg") no-repeat 50%;
	}
        
    &:checked + .tgl-btn:before {
		content: "Oui";
        font-weight: 500;
        color: #5D5062;
	}
}

.tgl-light {
	+ .tgl-btn {
		background: $primary-color;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		&:after {
			border-radius: 50%;
			background: #fff;
			transition: all .2s ease;
		}
	}
  
	&:checked + .tgl-btn {
		background: $green;
	}
}

#code-submit:invalid{
    ~ .error-message{
        display: block;
    }
}


