header {
    margin-bottom: 90px;
    
    .steps {
        display: flex;
        flex-flow: row wrap;

        .step-box {
            position: relative;
            flex:1;
            height: 137px;
            border-bottom: $border-content;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            
            &.validate-step img{
                position: absolute;
                top: 20px;
            }

            &.step-in-progress {
                border-bottom: 3px solid $primary-color;
                
                h1.nav-link-step{
                    font-size: $heading-header;
                    color: $primary-color;
                }
            }

            &:not(.step-in-progress) {
                a {
                    cursor: not-allowed;
                }
            }

            &:before {
                position: absolute;
                display: block;
                content: "";
                width: 0.5px;
                height: 100%;
                background: $background-header;
                left: 0px;
            }

            &:after {
                position: absolute;
                display: block;
                content: "";
                width: 0.5px;
                height: 100%;
                background: $background-header;
                right: 0px;
            }

            a {
                font-size: 15px;
                color: $secondary-color;
                margin-bottom: 0;
            }
        }
    }
}	