// Links
    
a {
    color: $secondary-color;
    text-decoration: none;

    &.nav-link-step {
        font-size: $heading-header;
        line-height: $line-height-18;
    }
}

.link-default {
	font-size: 14px;
	font-weight: $font-700;
}

.link-default-11px { 
    font-size: 11px;
}