// Cookies

.pop-up-bloc{
    #close-cookie:checked ~ .pop-up-background,
    #accept-cookie:checked ~ .pop-up-background{
        display:none;
    }
    
    .pop-up-background{
        position:fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(255,255,255,0.8);
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;

        .pop-up-box{
            position: relative;
            width: 500px;
            padding: 60px 20px 20px 20px;
            background: white;
            border: $border-content;
            border-radius: $border-radius-content;
            box-shadow: $box-shadow-content;
            display: flex;
            flex-flow: column wrap;
            align-items: center;

            .close-pop-up{
                position: absolute;
                top: 10px;
                right: 10px;
            }

            p, a.link-pop-up {
                color: $secondary-color;
                font-size: 11px;
                font-weight: $font-600;
                line-height: $line-height-14;
            }

            p{
                margin-bottom: 20px;
                text-align: center;
            }

            a{
                text-decoration: underline;
            }
            
            label{
                cursor: pointer;
            }
        }
    }
}

.cookie-bloc {
    input[id="close-cookie"],
    input[id="accept-cookie"] {
        display: none;
    }
            
    #close-cookie:checked ~ .cookie-container,
    #accept-cookie:checked ~ .cookie-container{
        display:none;
    }

	.cookie-container {
		width: 100%;
		position: fixed;
	    left: 0;
	    bottom: 0;
	    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(144,71,251,1) 1000%) no-repeat;
	    border-top: 1px solid rgba(145,160,171,0.35);
	    padding-top: 20px;
	    padding-bottom: 20px;
        box-shadow: 1px 0px 7px 0px rgba(145,160,171,0.2);
        
        @media ( max-width: $breakpoint-mobile) {
            padding-top: 30px;
        }

	    .cookie-wrapper {
	    	display: flex;
	    	align-items: center;
            max-width: 70%;
            
            @media (max-width: $breakpoint-mobile) {
                max-width: 100%;
                flex-flow: column wrap;
                justify-content: center;
            }

	    	img {
	    		margin-right: 20px;
	    	}

	    	p, a.link-cookie {
	    		color: $secondary-color;
	    		font-size: 11px;
	    		font-weight: $font-600;
	    		line-height: $line-height-14;
	    	}
            
            label.button-inline {
                margin-left: 20px;
            }
	    	

		    label.close-cookie {
		    	position: absolute;
		    	top: 10px;
		    	right: 0px;
                cursor: pointer;
		    }
            
            .cookie-box {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }
	    }
	}
}