.titre-tooltip{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
                
    .tooltip{
        margin-left: 5px;
        position: relative;               
    }
    
    .tooltip:hover:after{
        background: white;
        border-radius: 8px;
        border: 1px solid $border-color-tooltip;
        content: attr(title);
        left: 26px;
        top: -100%;
        padding: 13px 15px;
        position: absolute;
        z-index: 98;
        width: 220px;
        font-size: 9px;
        box-shadow: $box-shadow-content;
        
    }
    .tooltip:hover:before{
        border: solid;
        border-color: transparent $border-color-tooltip;
        border-width: 6px 6px 6px 0px;
        content: "";
        left: 20px;
        position: absolute;
        z-index: 99;
    }
}