// Variables

// Flexbox grid
	$flexboxgrid-grid-columns: 12 !default;
	$flexboxgrid-gutter-width: 1rem !default;
	$flexboxgrid-outer-margin: 2rem !default;
	$flexboxgrid-breakpoints:
	  sm 48em 46rem,
	  md 62em 61rem,
	  lg 75em 71rem !default;
	$flexboxgrid-max-width: 1200px !default;


// Colors

	$primary-color: #924FFF;
	$secondary-color: #2A006B;

	$white: #ffffff;
	$black: #000000;
	$mid-dark: #3F3F3F;
    $grey-light: #B5B2B8;

// Typography

	// Google Fonts
	@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,600,700');

	// Font Variables
	$font-family: 'Montserrat', 'Arial', sans-serif;

	// Font Size
	$body-font-size: 15px;
    $content-left-font-size: 12px;
    $content-right-font-size: 10px;

	//Headings
	$heading-1-font-size: 26px;
	$heading-2-font-size: 18px;
    $heading-3-font-size: 10px;

	// Font Weights
	$font-300: 300;
	$font-300i: 300i;
	$font-400: 400;
	$font-500: 500;
	$font-600: 600;
	$font-700: 700;

	//Line Height$
    $line-height-9: 9px;
    $line-height-12: 12px;
	$line-height-14: 14px;
	$line-height-16: 16px;
	$line-height-18: 18px;
	$line-height-20: 20px;
	$line-height-22: 22px;
	$line-height-24: 24px;
	$line-height-25: 25px;
	$line-height-26: 26px;
	$line-height-28: 28px;
	$line-height-30: 30px;

// Buttons

	//Style
	$button-bg: $primary-color;
	$button-bg-inline: $white;
	$button-border-radius: 4px;
    $button-default-padding: 15px 40px 15px 20px;
	$button-padding: 15px 20px;
	$button-border-radius: 4px;
	$button-margin-top: 50px;

	//Fonts 
	$button-font-size: 14px;
	$button-font-weight: $font-600;


// Links

// Sections

	// Content
    $border-content-texte: 1px solid rgba(145,160,171,0.2);
    $border-content-titre: 1px solid rgba(145,160,171,0.5);
	$border-content: 1px solid rgba(145,160,171,0.35);
    $border-color-tooltip: rgba(145,160,171,0.35);
	$box-shadow-content: 1px 0px 9px 0px rgba(145,160,171,0.2);
	$border-radius-content: 3px;


// Footer

	$footer-link-color: #2A006B;
	$footer-padding-top: 6px;
	$footer-padding-bottom: 6px;