<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>S-Money</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../assets/css/style.css" rel="stylesheet">
</head>

<body class="body-header">
    <header>
        <input type="checkbox" id="mobile-menu" name="mobile-menu">
        <label for="mobile-menu">Menu <img src="../../assets/img/menu.svg"></label>
        <ul class="steps">
            <li class="step-box step-in-progress">
                <a href="#" class="nav-link-step"><h1 class="nav-link-step">Mon organisation</h1></a>
            </li>
            <li class="step-box">
                <a href="#">Mon adresse</a>
            </li>
            <li class="step-box">
                <a href="#">Mes représentants et mandataires</a>
            </li>
            <li class="step-box">
                <a href="#">Mes bénéficiaires effectifs</a>
            </li>
            <li class="step-box">
                <a href="#">Mes informations bancaires</a>
            </li>
            <li class="step-box">
                <a href="#">Conditions générales d’utilisation</a>
            </li>
        </ul>
    </header>
    
    <section class="container-fluid">
        <div class="content-aside wrapper">
            <div class="content-left">
                <div class="title-image-position border-h2">
                    <img src="../../assets/img/verification-icon.svg">
                    <div>
                        <h2>La vérification de vos informations
                        est en cours !</h2>
                        <p class="subtitle-h2">Votre demande sera traitée sous 48h.</p>
                    </div>
                </div>

                <div class="item double-column">
                    <div class="sous-item input-double-column">
                        <h3 class="grey-light">Pays d'immatriculation</h3>
                        <p class="grey-medium">France</p>
                    </div>
                    <div class="sous-item input-double-column">
                        <h3 class="grey-light">Siret</h3>
                        <p class="grey-medium">362 521 879 00034</p>
                    </div>
                    <div class="sous-item input-double-column">
                        <h3 class="grey-light">Raison sociale</h3>
                        <p class="grey-medium">Handisky</p>
                    </div>
                    <div class="sous-item input-double-column">
                        <h3 class="grey-light">Code NAF</h3>
                        <p class="grey-medium">96.04Z</p>
                    </div>
                    <div class="sous-item input-double-column">
                        <h3 class="grey-light">Forme juridique</h3>
                        <p class="grey-medium">SARL</p>
                    </div>
                    <div class="sous-item input-double-column">
                        <h3 class="grey-light">OBJECTIF C.A PÉRIODE EN COURS H.T</h3>
                        <p class="grey-medium">70000 €</p>
                    </div>
                    <div class="sous-item input-double-column">
                        <h3 class="grey-light">C.A EXERCICE PRÉCÉDENT H.T<span class="optional-input grey-light"> - Facultatif</span></h3>
                        <p class="grey-medium">Handisky</p>
                    </div>
                    <div class="sous-item input-double-column">
                        <h3 class="grey-light">Justificatif d'identité</h3>
                        <div class="document-televerse">
                            <img src="../../assets/img/filejpg-icon.svg">
                            <p class="doc-name grey-medium">ID_david-doe.pdf</p>
                            <p class="doc-size grey-light">120ko</p>
                        </div>
                    </div>
                    <div class="sous-item input-double-column">
                        <h3 class="grey-light">Liasse fiscale</h3>
                        <div class="document-televerse">
                            <img src="../../assets/img/filejpg-icon.svg">
                            <p class="doc-name grey-medium">JF.pdf</p>
                            <p class="doc-size grey-light">120ko</p>
                        </div>
                    </div>
                    
                </div>
                
                <div>
                    <a class="button-default">Je passe à l'étape suivante</a>
                </div>

            </div>

            <div class="content-right">
                <img src="../../assets/img/document-icon.svg">
                <p>Notre équipe est en train d’analyser vos pièces ! En attendant, vous ne pouvez les modifier. Si vos pièces n’ont pas été vérifiées dans 48h, veuillez contacter votre service client.</p>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content-footer">
                        <div class="content-footer-1">
                            <a href="http://www.s-money.fr/" target="_blank">
                                <img src="../../assets/img/footer/logo-s-money.png"class="logo-s-money" alt="S-Money">
                            </a>
                            <p>filiale de</p>
                            <a href="https://www.natixis.com/natixis/jcms" target="_blank">
                                <img src="../../assets/img/footer/logo-natixis.png" class="logo-natixis" alt="Natixis">
                            </a>
                        </div>
                        <div class="content-footer-2">
                            <a href="#" class="link-footer link-footer-mobile" title="Mentions Légales">Mentions Légales</a>
                            <a href="#" class="link-footer log-out" title="Déconnexion">Déconnexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../../assets/js/index.js"></script>
</body>

</html>