<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>S-Money</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../assets/css/style.css" rel="stylesheet">
</head>

<body class="body-header">
    <header>
        <input type="checkbox" id="mobile-menu" name="mobile-menu">
        <label for="mobile-menu">Menu <img src="../../assets/img/menu.svg"></label>
        <ul class="steps">
            <li class="step-box step-in-progress">
                <a href="#" class="nav-link-step"><h1 class="nav-link-step">Mon organisation</h1></a>
            </li>
            <li class="step-box">
                <a href="#">Mon adresse</a>
            </li>
            <li class="step-box">
                <a href="#">Mes représentants et mandataires</a>
            </li>
            <li class="step-box">
                <a href="#">Mes bénéficiaires effectifs</a>
            </li>
            <li class="step-box">
                <a href="#">Mes informations bancaires</a>
            </li>
            <li class="step-box">
                <a href="#">Conditions générales d’utilisation</a>
            </li>
        </ul>
    </header>
    
    <section class="container-fluid">
        <div class="content-aside wrapper">
            <div class="content-left padding-top-content">
                
                <form class="form-position">
                    <div class="item double-column">
                        <div class="sous-item">
                            <div class="custom-select select-organization-type">
                                <label for="select-organization-type"><h3>Vous êtes ?</h3></label>
                                <select id="select-organization-type">
                                    <option value="societe">Société</option>
                                    <option value="entreprise-individuelle">Entreprise individuelle</option>
                                    <option value="particulier">Particulier</option>
                                    <option value="association">Association</option>
                                </select>
                            </div>
                        </div>
                        <div class="sous-item">
                            <div class="custom-select select-country">
                                <label for="select-country"><h3>Pays d'immatriculation</h3></label>
                                <select id="select-country">
                                    <option value="AL">Allemagne</option>
                                    <option value="AU">Australie</option>
                                    <option value="AT">Autriche</option>
                                    <option value="BE">Belgique</option>
                                    <option value="BG">Bulgarie</option>
                                    <option value="CA">Canada</option>
                                    <option value="CH">Chypre (pays)</option>
                                    <option value="HR">Croatie</option>
                                    <option value="DK">Danemark</option>
                                    <option value="ES">Espagne</option>
                                    <option value="EE">Estonie</option>
                                    <option value="US">États-Unis</option>
                                    <option value="FI">Finlande</option>
                                    <option value="FR" selected>France</option>
                                    <option value="GR">Grèce</option>
                                    <option value="GP">Guadeloupe</option>
                                    <option value="GY">Guyane</option>
                                    <option value="HU">Hongrie</option>
                                    <option value="IE">Irlande</option>
                                    <option value="IS">Islande</option>
                                    <option value="IT">Italie</option>
                                    <option value="JP">Japon</option>
                                    <option value="LR">La Réunion</option>
                                    <option value="LE">Lettonie</option>
                                    <option value="LT">Lituanie</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MT">Malte</option>
                                    <option value="MQ">Martinique</option>
                                    <option value="YT">Mayotte</option>
                                    <option value="MC">Monaco</option>
                                    <option value="NO">Norvège</option>
                                    <option value="NC">Nouvelle-Calédonie</option>
                                    <option value="NL">Pays-Bas</option>
                                    <option value="PL">Pologne</option>
                                    <option value="PF">Polynésie Française</option>
                                    <option value="PT">Portugal</option>
                                    <option value="CZ">République tchèque</option>
                                    <option value="RO">Roumanie</option>
                                    <option value="UK">Royaume-Uni</option>
                                    <option value="SB">Saint-Barthélemy</option>
                                    <option value="SM">Saint-Martin (partie française)</option>
                                    <option value="SG">Singapour</option>
                                    <option value="SK">Slovaquie</option>
                                    <option value="SI">Slovénie</option>
                                    <option value="SP">Saint Pierre et Miquelon</option>
                                    <option value="SE">Suède</option>
                                    <option value="WF">Wallis et Futuna</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="sous-item input-double-column">
                            <div class="custom-select select-gender">
                                <label for="select-gender"><h3>Genre</h3></label>
                                <select id="select-gender">
                                    <option value="monsieur">Monsieur</option>
                                    <option value="madame">Madame</option>
                                    <option value="neutre">Neutre</option>
                                </select>
                            </div>
                        </div>
                        <div class="sous-item input-double-column">
                            <label for="nom-particulier"><h3>Nom</h3></label>
                            <input id="nom-particulier" name="nom-particulier" type="text" placeholder="Doe">
                        </div>
                        <div class="sous-item input-double-column">
                            <label for="prenom-particulier"><h3>Prénom</h3></label>
                            <input id="prenom-particulier" name="prenom-particulier" type="text" placeholder="David">
                        </div>
                        <div class="sous-item input-double-column">
                            <div class="custom-select select-nationality">
                                <label for="select-nationality"><h3>Nationalité</h3></label>
                                <select id="select-nationality">
                                    <option value="allemande">Allemande</option>
                                    <option value="australienne">Australienne</option>
                                    <option value="autrichienne">Autrichienne</option>
                                    <option value="belge">Belge</option>
                                    <option value="bulgare">Bulgare</option>
                                    <option value="canadienne">Canadienne</option>
                                    <option value="chypriote">Chypriote</option>
                                    <option value="croate">Croate</option>
                                    <option value="danoise">Danoise</option>
                                    <option value="espagnole">Espagnole</option>
                                    <option value="estonnienne">Estonienne</option>
                                    <option value="americaine">Américaine</option>
                                    <option value="finlandaise">Finlandaise</option>
                                    <option value="francaise" selected>Française</option>
                                    <option value="grecque">Grecque</option>
                                    <option value="Hongroise">Hongroise</option>
                                    <option value="irlandaise">Irlandaise</option>
                                    <option value="islandaise">Islandaise</option>
                                    <option value="italienne">Italienne</option>
                                    <option value="japonaise">Japonaise</option>
                                    <option value="lettonienne">Lettonienne</option>
                                    <option value="lituanienne">Lituanienne</option>
                                    <option value="luxembourgeoise">Luxembourgeoise</option>
                                    <option value="maltaise">Maltaise</option>
                                    <option value="monegasque">Monégasque</option>
                                    <option value="norvegienne">Norvégienne</option>
                                    <option value="neerlandaise">Néerlandaise</option>
                                    <option value="polonaise">Polonaise</option>
                                    <option value="portugaise">Portugaise</option>
                                    <option value="tcheque">Tchèque</option>
                                    <option value="Roumaine">Roumaine</option>
                                    <option value="britannique">Britannique</option>
                                    <option value="singapourienne">Singapourienne</option>
                                    <option value="slovaque">Slovaque</option>
                                    <option value="slovenienne">Slovénienne</option>
                                    <option value="suedoise">Suédoise</option>
                                </select>
                            </div>
                        </div>
                        <div class="sous-item input-double-column">
                            <div class="custom-select select-country-born">
                                <label for="select-country-born"><h3>Pays de naissance</h3></label>
                                <select id="select-country-born">
                                    <option value="AL">Allemagne</option>
                                    <option value="AU">Australie</option>
                                    <option value="AT">Autriche</option>
                                    <option value="BE">Belgique</option>
                                    <option value="BG">Bulgarie</option>
                                    <option value="CA">Canada</option>
                                    <option value="CH">Chypre (pays)</option>
                                    <option value="HR">Croatie</option>
                                    <option value="DK">Danemark</option>
                                    <option value="ES">Espagne</option>
                                    <option value="EE">Estonie</option>
                                    <option value="US">États-Unis</option>
                                    <option value="FI">Finlande</option>
                                    <option value="FR" selected>France</option>
                                    <option value="GR">Grèce</option>
                                    <option value="GP">Guadeloupe</option>
                                    <option value="GY">Guyane</option>
                                    <option value="HU">Hongrie</option>
                                    <option value="IE">Irlande</option>
                                    <option value="IS">Islande</option>
                                    <option value="IT">Italie</option>
                                    <option value="JP">Japon</option>
                                    <option value="LR">La Réunion</option>
                                    <option value="LE">Lettonie</option>
                                    <option value="LT">Lituanie</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MT">Malte</option>
                                    <option value="MQ">Martinique</option>
                                    <option value="YT">Mayotte</option>
                                    <option value="MC">Monaco</option>
                                    <option value="NO">Norvège</option>
                                    <option value="NC">Nouvelle-Calédonie</option>
                                    <option value="NL">Pays-Bas</option>
                                    <option value="PL">Pologne</option>
                                    <option value="PF">Polynésie Française</option>
                                    <option value="PT">Portugal</option>
                                    <option value="CZ">République tchèque</option>
                                    <option value="RO">Roumanie</option>
                                    <option value="UK">Royaume-Uni</option>
                                    <option value="SB">Saint-Barthélemy</option>
                                    <option value="SM">Saint-Martin (partie française)</option>
                                    <option value="SG">Singapour</option>
                                    <option value="SK">Slovaquie</option>
                                    <option value="SI">Slovénie</option>
                                    <option value="SP">Saint Pierre et Miquelon</option>
                                    <option value="SE">Suède</option>
                                    <option value="WF">Wallis et Futuna</option>
                                </select>
                            </div>
                        </div>
                        <div class="sous-item input-double-column">
                            <label for="birthday"><h3>Date de naissance</h3></label>
                            <input id="birthday" name="birthday" type="text" placeholder="12/09/1983">
                        </div>
                        <div class="sous-item input-double-column">
                            <label for="birth-city"><h3>Ville de naissance</h3></label>
                            <input id="birth-city" name="birth-city" type="text" placeholder="Metz">
                        </div>
                        <div class="sous-item input-double-column">
                            <label for="residence-state"><h3>Pays de résidence</h3></label>
                            <input id="residence-state" name="residence-state" type="text" placeholder="David">
                        </div>
                        
                        <div class="sous-item">
                            <div class="custom-select select-identity">
                                <label for="select-identity"><h3>Type de pièce d'identité</h3></label>
                                <select id="select-identity">
                                    <option value="CNI">Carte nationale d'identité (en cours de validité)</option>
                                    <option value="passeport">Passeport (en cours de validité)</option>
                                    <option value="sejour-ue">Carte de séjour - Citoyen UE/EEE/Suisse</option>
                                    <option value="sejour">Carte de séjour</option>
                                    <option value="resident">Carte de résident</option>
                                    <option value="recepisse-sejour">Récépissé de titre de séjour</option>
                                </select>
                            </div>
                        </div>
                        <div class="sous-item">
                        <div class="titre-tooltip">
                            <h3>Justificatif d'identité</h3>
                            <div class="special-text">
                                <img src="../../assets/img/Info-Icon.svg">
                                <span class="special-text__tooltip">
                                Il est demandé aux particuliers de fournir une traduction de leur pièce d’identité lorsque celle-ci n’est pas en français, anglais ou espagnol.
                                </span>
                            </div>
                        </div>
                        <label for="televerser">
                            <div class="televerser">
                                <p>Glissez/déposez un document ici 
                                <br/>ou
                                </p>
                                <div class="icon-televerser">
                                    <img src="../../assets/img/envoyer-icon.svg">
                                    <span>Télécharger</span>
                                    <input id="televerser" name="televerser" type="file"  multiple onchange="return fileValidation()">
                                </div>
                            </div>
                        </label>
                        <p class="error-message error-message-style" id="error-message">Format de fichier non valide</p>
                    </div>
                        
                        
                        
                        <div class="sous-item">
                            <label for="siret"><h3>Siret</h3></label>
                            <input id="siret" name="siret" type="text" placeholder="362 521 879 00034">
                        </div>
                        
                        <div class="sous-item item-hidden">
                            <label for="numero-enregistrement"><h3>Numéro d'enregistrement</h3></label>
                            <input id="numero-enregistrement" name="numero-enregistrement" type="text" placeholder="362 521 879 00034">
                        </div>
                        
                        <div class="sous-item item-hidden">
                            <label for="ridet"><h3>Ridet</h3></label>
                            <input id="ridet" name="ridet" type="text" placeholder="362 521 879 00034">
                        </div>
                        
                        <div class="sous-item item-hidden">
                            <label for="tahiti"><h3>Numéro T.A.H.I.T.I</h3></label>
                            <input id="tahiti" name="tahiti" type="text" placeholder="362 521 879 00034">
                        </div>
                        
                        <div class="sous-item input-double-column">
                            <label for="rna"><h3>RNA</h3></label>
                            <input id="rna" name="rna" type="text" placeholder="362 521 879 00034">
                        </div>
                        <div class="sous-item input-double-column">
                            <label for="siret-asso" class="titre-tooltip">
                                <div>
                                    <h3>SIRET</h3>
                                    <span class="optional-input"> - Facultatif</span>
                                </div>
                                <div class="special-text">
                                    <img src="../../assets/img/Info-Icon.svg">
                                    <span class="special-text__tooltip">
                                    Les associations n’ayant pas un numéro SIRET n’ont pas à fournir cette information.
                                    </span>
                                </div>
                            </label>
                            <input id="siret-asso" name="siret-asso" type="text" placeholder="362 521 879 00034">
                        </div>
                        
                        <div class="sous-item">
                            <label for="date-immatriculation"><h3>Date d'immatriculation</h3></label>
                            <input id="date-immatriculation" name="date-immatriculation" type="text" placeholder="JJ/MM/AAAA">
                        </div>
                        
                        <div class="sous-item item-hidden">
                            <label for="date-enregistrement"><h3>Date d'enregistrement</h3></label>
                            <input id="date-enregistrement" name="date-enregistrement" type="text" placeholder="362 521 879 00034">
                        </div>
                        
                        <div class="sous-item">
                            <label for="forme-jurique"><h3>Forme juridique</h3></label>
                            <input id="forme-juridique" name="forme-juridique" type="text" placeholder="SARL">
                        </div>
                        
                        <div class="sous-item item-hidden">
                            <label for="nom-association"><h3>Nom de l'association</h3></label>
                            <input id="nom-association" name="nom-association" type="text" placeholder="362 521 879 00034">
                        </div>
                        
                        <div class="sous-item">
                            <label for="raison-sociale"><h3>Raison sociale</h3></label>
                            <input id="raison-sociale" name="raison sociale" type="text" placeholder="Handi Ski">
                        </div>
                        <div class="sous-item">
                            <label for="code-naf"><h3>Code NAF</h3></label>
                            <input id="code-naf" name="code-naf" type="text" placeholder="96.04Z">
                        </div>
                        <div class="sous-item">
                            <label for="objectif-ca" class="titre-tooltip">
                                <h3>Objectif C.A période en cours H.T</h3>
                                <div class="special-text">
                                <img src="../../assets/img/Info-Icon.svg">
                                <span class="special-text__tooltip">
                                Cette informatiion est requise dans un souci de connaissance du client et de la relation d'affaires afin d'évaluer les risques de blanchiment de capitaux et de financement du terrorisme.
                                </span>
                            </div>
                            </label>
                            
                            <input id="objectif-ca" name="objectif-ca" type="text" placeholder="Saisissez votre chiffre..." class="italic-placeholder">
                        </div>
                        
                        <div class="sous-item item-hidden">
                            <label for="objectif-ca-asso" class="titre-tooltip">
                                <h3>Objectif C.A ou revenus période en cours</h3>
                                <div class="special-text">
                                <img src="../../assets/img/Info-Icon.svg">
                                <span class="special-text__tooltip">
                                Cette informatiion est requise dans un souci de connaissance du client et de la relation d'affaires afin d'évaluer les risques de blanchiment de capitaux et de financement du terrorisme.
                                </span>
                            </div>
                            </label>
                            
                            <input id="objectif-ca-asso" name="objectif-ca-asso" type="text" placeholder="Saisissez votre chiffre..." class="italic-placeholder">
                        </div>
                        
                        <div class="sous-item">
                            <label for="exercice-precedent" class="titre-tooltip">
                                <div>
                                    <h3>C.A Exercice précédent H.T</h3>
                                    <span class="optional-input"> - Facultatif</span>
                                </div>
                                <div class="special-text">
                                <img src="../../assets/img/Info-Icon.svg">
                                <span class="special-text__tooltip">
                                Cette informatiion est requise dans un souci de connaissance du client et de la relation d'affaires afin d'évaluer les risques de blanchiment de capitaux et de financement du terrorisme.
                                </span>
                            </div>
                            </label>
                            
                            <input id="exercice-precedent" name="exercice-precedent" type="text" placeholder="Saisissez votre chiffre..." class="italic-placeholder">
                        </div>
                        
                        <div class="sous-item item-hidden">
                            <label for="exercice-precedent-asso" class="titre-tooltip">
                                <div>
                                    <h3>Objectif C.A ou recettes période précédente</h3>
                                    <span class="optional-input"> - Facultatif</span>
                                </div>
                                <div class="special-text">
                                <img src="../../assets/img/Info-Icon.svg">
                                <span class="special-text__tooltip">
                                Cette informatiion est requise dans un souci de connaissance du client et de la relation d'affaires afin d'évaluer les risques de blanchiment de capitaux et de financement du terrorisme. Les associations enregistrées depuis moins d’un exercice comptable n’ont pas à fournir cette information.
                                </span>
                            </div>
                            </label>
                            
                            <input id="exercice-precedent-asso" name="exercice-precedent-asso" type="text" placeholder="Saisissez votre chiffre..." class="italic-placeholder">
                        </div>
                        
                        <div class="sous-item">
                            <label for="objectif-revenus-particulier" class="titre-tooltip">
                                <h3>Objectif revenus année en cours</h3>
                                <div class="special-text">
                                <img src="../../assets/img/Info-Icon.svg">
                                <span class="special-text__tooltip">
                                Cette informatiion est requise dans un souci de connaissance du client et de la relation d'affaires afin d'évaluer les risques de blanchiment de capitaux et de financement du terrorisme.
                                </span>
                            </div>
                            </label>
                            
                            <input id="objectif-revenus-particulier" name="objectif-revenus-particulier" type="text" placeholder="Saisissez votre chiffre..." class="italic-placeholder">
                        </div>
                        
                        <div class="sous-item item-hidden">
                            <label for="revenus-precedent-particulier" class="titre-tooltip">
                                <div>
                                    <h3>Revenus année précédente</h3>
                                    <span class="optional-input"> - Facultatif</span>
                                </div>
                                <div class="special-text">
                                <img src="../../assets/img/Info-Icon.svg">
                                <span class="special-text__tooltip">
                                Cette informatiion est requise dans un souci de connaissance du client et de la relation d'affaires afin d'évaluer les risques de blanchiment de capitaux et de financement du terrorisme. Les associations enregistrées depuis moins d’un exercice comptable n’ont pas à fournir cette information.
                                </span>
                            </div>
                            </label>
                            
                            <input id="revenus-precedent-particulier" name="revenus-precedent-particulier" type="text" placeholder="Saisissez votre chiffre..." class="italic-placeholder">
                        </div>
                    </div>
                    
                    <div>
                        <button class="button-default">
                            Je confirme
                        </button>
                    </div>
                    
                </form>
            
            </div>
          
            <div class="content-right">
                <img src="../../assets/img/document-icon.svg">
                <p>Complétez les informations caractéristiques de votre organisation. Les informations fournies ne seront transmises à aucun acteur tiers, et uniquement utilisées pour assurer la bonne gestion de vos encaissements.</p>
            </div>
        </div>
    </section>
    <section class="pop-up-bloc">
        <input id="close-cookie" name="close-cookie" type="checkbox">
        <input id="accept-cookie" name="accept-cookie" type="checkbox">
        
        <div class="pop-up-background">
            <div class="pop-up-box">
                <p>Dans le cadre de la signature et de l’exécution du présent contrat, et plus généralement de notre relation, S-money recueille et traite des données à caractère personnel vous concernant et concernant les personnes physiques intervenant dans le cadre de cette relation (mandataire, représentant légal, contact désigné, bénéficiaire effectif, ...). Les informations vous expliquant pourquoi et comment ces données sont utilisées, combien de temps elles seront conservées ainsi que les droits dont vous disposez sur vos données figurent dans notre notice d’information sur le traitement des données à caractère personnel. Cette notice est portée à votre connaissance lors de la première collecte de vos données. Vous pouvez y accéder à tout moment, sur notre site internet en <a href="" class="link-pop-up">cliquant ici</a>. S-money communiquera en temps utile les évolutions apportées à ces informations.</p>
                <label for="accept-cookie" class="button-inline">C'est compris</label>
                <label for="close-cookie" class="close-cookie">
                    <img src="../../assets/img/cookie-bloc/close-icon.svg" class="close-cookie-img" alt="Close">
                </label>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content-footer">
                        <div class="content-footer-1">
                            <a href="http://www.s-money.fr/" target="_blank">
                                <img src="../../assets/img/footer/logo-s-money.png"class="logo-s-money" alt="S-Money">
                            </a>
                            <p>filiale de</p>
                            <a href="https://www.natixis.com/natixis/jcms" target="_blank">
                                <img src="../../assets/img/footer/logo-natixis.png" class="logo-natixis" alt="Natixis">
                            </a>
                        </div>
                        <div class="content-footer-2">
                            <a href="#" class="link-footer link-footer-mobile" title="Mentions Légales">Mentions Légales</a>
                            <a href="#" class="link-footer log-out" title="Déconnexion">Déconnexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../../assets/js/index.js"></script>
</body>

</html>